extends layout

block content
    h1 Edit Profile
    form(id='form' method='post' action='/edit-profile/' + req.user._id)
        div(class='form-control')
            label(for='password')
                span Password
                input(type='password', name='password')
        div(class='form-control')
            label(for='email')
                span Email
                input(type='text', name='email', value=req.user.email)
        div(class='form-control')
            label(for='age')
                span Age
                input(type='text', name='age', value=req.user.age)
        div(class='form-control')
            label(for='animal')
                span Ugliest Animal?
                select(name='animal', value=req.user.q1)
                    option(value='0') Drop Bear
                    option(value='1') Blobfish
                    option(value='2') Hairless Cat
                    option(value='3') Human
        div(class='form-control')
            label(for='coding')
                span Most important coding aspect?
                select(name='coding', value=req.user.q2)
                    option(value='0') Types
                    option(value='1') Inheritance
                    option(value='2') Syntax
                    option(value='3') Readability
        div(class='form-control')
            label(for='president')
                span 20th President?
                select(name='president', value=req.user.q3)
                    option(value='0') Theodore Roosevelt
                    option(value='1') James Garfield
                    option(value='2') Millard Fillmore
                    option(value='3') Herbert Hoover
        div(class='form-control')
            label(for='submit')
                span &nbsp;
                input(type='submit', value='Save', name='submit')
