extends layout

block content
    h1 Register
    form(id='form', method='post', action='/register', class='page-form')
        div(class='form-control')
            label(for='username')
                span Username
                input(type='text', name='username')
        div(class='form-control')
            label(for='password')
                span Password
                input(type='password', name='password')
        div(class='form-control')
            label(for='email')
                span Email
                input(type='text', name='email')
        div(class='form-control')
            label(for='age')
                span Age
                input(type='text', name='age')
        div(class='form-control')
            label(for='q1')
                span Ugliest Animal?
                select(name='q1')
                    option(value='0') #{utils.q1Response('0')}
                    option(value='1') #{utils.q1Response('1')}
                    option(value='2') #{utils.q1Response('2')}
                    option(value='3') #{utils.q1Response('3')}
        div(class='form-control')
            label(for='q2')
                span Most important coding aspect?
                select(name='q2')
                    option(value='0') #{utils.q2Response('0')}
                    option(value='1') #{utils.q2Response('1')}
                    option(value='2') #{utils.q2Response('2')}
                    option(value='3') #{utils.q2Response('3')}
        div(class='form-control')
            label(for='q3')
                span 20th President?
                select(name='q3')
                    option(value='0') #{utils.q3Response('0')}
                    option(value='1') #{utils.q3Response('1')}
                    option(value='2') #{utils.q3Response('2')}
                    option(value='3') #{utils.q3Response('3')}
        div(class='form-control submit-control')
            label(for='submit')
                span &nbsp;
                input(type='submit', value='Register', name='submit')
