extends layout

block content
    p Register
        form(id='form' method='post' action='/')
            label Username
            br
            input(type='text' name='name_first')
            br
            label Password
            br
            input(type='text' name='name_last')
            br
            label Email
            br
            input(type='text' name='email')
            br
            label Age
            br
            input(type='text' name='age')
            br
            label Which animal is the ugliest out of the following?
            br
            input(type='radio' name='animal' value='0' checked=animal=='Drop Bear')
            label Drop Bear
            br
            input(type='radio' name='animal' value='1' checked=animal=='Blobfish')
            label Blobfish
            br
            input(type='radio' name='animal' value='2' checked=animal=='Hairless Cat')
            label Hairless Cat
            br
            input(type='radio' name='animal' value='3' checked=animal=='Human')
            label Human
            br
            label Which coding aspect is the most important?
            br
            input(type='radio' name='coding' value='0' checked=coding=='Types')
            label Types
            br
            input(type='radio' name='coding' value='1' checked=coding=='Inheritance')
            label Inheritance
            br
            input(type='radio' name='coding' value='2' checked=coding=='Syntax')
            label Syntax
            br
            input(type='radio' name='coding' value='3' checked=coding=='Readability')
            label Readability
            br
            label Which person was the twentieth president of the United States of America?
            br
            input(type='radio' name='president' value='0' checked=authority=='Roosevelt')
            label Theodore Roosevelt
            br
            input(type='radio' name='president' value='1' checked=authority=='Garfield')
            label James Garfield
            br
            input(type='radio' name='president' value='2' checked=authority=='Fillmore')
            label Millard Fillmore
            br
            input(type='radio' name='president' value='3' checked=authority=='Hoover')
            label Herbert Hoover
            br
            input(type='submit' value='Submit')